<h1>Main#youth</h1>

<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#10-14" aria-controls="Beginner" role="tab" data-toggle="tab">Beginner</a></li>
		<li role="presentation"><a href="#Intermediate" aria-controls="Intermediate" role="tab" data-toggle="tab">Intermediate</a></li>
		<li role="presentation"><a href="#Advanced" aria-controls="Advanced" role="tab" data-toggle="tab">Advanced</a></li>
	</ul>
</div>


<%= render 'main/lessons' %>
