<% if @class_list.errors.any? %>
	<div class="alert alert-danger">
		The form contains <%= pluralize(@class_list.errors.count, "error") %>.
		<ul>
			<% @class_list.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>