$main: #227790;

body {padding-top: 50px;}
.container-fluid {max-width: 1300px !important; margin: auto !important;}

#home-head {background: url(http://files.clickweb.home.pl/homepl9221/image/sailing_1.jpg) center no-repeat; height: 600px; padding: 0; margin: 0;
  h1 {text-align: center; font-size: 8em;}
  h3 {text-align: center;}
  .btn {font-size: 2em;}
  .center {max-width: 700px; margin: auto;}
  text-align: center;
}

.inline-form { display: inline-block !important; }

.btn { border-radius: 0 !important; }
.inline-group { width: 100px !important; display: inline-block !important; }
label {margin-top: 1.5em;}
.form-group { display: inline-block !important;
  input {margin-right: 2em !important; display: inline-block !important;}
}