$main: #227790;

body {padding-top: 50px;}
.container-fluid {max-width: 1000px !important; margin: auto !important;}

#home-head {background: url(http://files.clickweb.home.pl/homepl9221/image/sailing_1.jpg) center no-repeat; height: 600px; padding: 0; margin: 0;
  h1 {text-align: center; font-size: 8em;}
  h3 {text-align: center;}
  .btn {font-size: 2em;}
  .center {max-width: 700px; margin: auto;}
  text-align: center;
}


.left { float: left !important; width: 30px;}
.right { float: right !important; width: 50px;}
form {display: inline-block;}

.alone-form {
  .btn { border-radius: 0 !important; display: inline-block !important;}
  .inline-form { width: 100px !important; display: inline-block !important; margin-top: 1em; }
  label {margin-top: 1.5em;}
  .form-group, input {margin-right: 2em !important; display: inline-block;}
}